* {
	margin: 0px;
	font-family: sans-serif;
}

body {
    background-color: #F6F6FB; /* fixed */ 
}
/*-------------------- head section start here--------------------*/
.nav-header {
	margin: 52px 128px;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: black;
}
.nav-header .nav-logo {
	font-size: 32px;
}
.nav-header .nav-navbar {
	gap: 48px;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	color: black;
}
.nav-header > .nav-navbar > .nav-home {
	text-decoration: underline;
	color: #5e44ff;
}
.hero-section {
	margin: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	font-size: 16;
}
.hero-section .hero-Productivity {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 10px;
	width: 250px;
	height: 40px;
	border-radius: 20px;
	background: #573aff34;
	color: #5e44ff;
}
.hero-section .hero-main {
	margin-top: 40px;
	margin-bottom: 24px;
	font-size: 80px;
}
.hero-section > .hero-main > span {
	color: #5e44ff;
}
.hero-section > .hero-title {
	font-size: 24px;
}
.hero-section .hero-button-start {
	margin-top: 40px;
	width: 187px;
	height: 56px;
	border-radius: 16px;
	background: black;
	color: white;
}
/*-------------------- head section end here--------------------*/

/* Features section start here */
.feature-section {
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 100px;
}

.container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-1 {
    width: 387px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #D7E5F6;
    margin: 16px;
    padding: 28px;
    border-radius: 24px;
    gap: 20px;

}
.box-2 {
    width: 387px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #D8E0FC;
    margin: 16px;
    padding: 28px;
    border-radius: 24px;
    gap: 20px;

}
.box-3 {
    width: 387px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #E8DCF6;
    margin: 16px;
    padding: 28px;
    border-radius: 24px;
    gap: 20px;

}

.icon-container {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.icon {
    width: 32px;
    height: 32px;
}

.heading {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #1A1A2C;
    margin: 0;
}
.description {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #5F5F76;
    margin: 0;
}

/*Contect Section ended here*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inter, serif;
}

.contact {
    width: 100%; /* fixed from 1439px to 100%*/
    height: 850px;
    background-color: #F6F6FB;
    padding: 0 120px 80px 120px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content {
    width: 1199px;
    height: 666px;
    background-color: #FFFFFFB2;
    border-radius: 24px;
    padding: 80px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contact-content > h2 {
    font-size: 44px;
    font-weight: 700;
}

.contact-content-input {
    width: 589px;
    height: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #5F5F76;
}

.input-name {
    width: 589px;
    height: 76px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-name > p {
    font-size: 16px;
    font-weight: 400px;
}

.input-name > input {
    width: 589px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0ED;
    border-radius: 12px;
    padding: 12px;
}

.input-name > input::placeholder {
    font-size: 16px;
    font-weight: 400;
}

.input-email {
    width: 589px;
    height: 76px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-email > p {
    width: 589px;
    height: auto;
    font-size: 16px;
    font-weight: 400px;
}

.input-email > input {
    width: 589px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0ED;
    border-radius: 12px;
    padding: 12px;
}

.input-email > input::placeholder {
    font-size: 16px;
    font-weight: 400;
}

.input-message {
    width: 589px;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-message > p {
    width: 589px;
    height: auto;
    font-size: 16px;
    font-weight: 400px;
}

.input-message > textarea {
    width: 589px;
    height: 102px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0ED;
    border-radius: 12px;
    gap: 10px;
}

.input-message > textarea::placeholder {
    vertical-align: top;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 2px 2px 16px;
}

.input-button {
    width: 589px;
    height: 56px;
    border-radius: 16px;
    padding: 16px 36px;
    gap: 6px;
    background-color: #1A1A2C;
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
}

.footer {
    width: 1199px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    color: #5F5F76;
}

.footer-company {
    font-size: 16px;
    font-weight: 500;
}

.footer-nav {
    display: flex;
    gap: 37px
}

/* Fixed Add .footer-nav a */
.footer-nav a {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #1A1A2C;
    text-decoration: none;
}

/* Contact section end here */